<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Emily R. Hickey</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
        <link rel="icon" type="image/png" href="public/images/laptopicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
       <header class="container">
        <nav class="navbar navbar-expand-sm fixed-top scrolled navbar-dark">
            <a class="navbar-brand" href="#title">Emily R. Hickey</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-me">Contact</a>
                    </li>
            </div>
        </nav>
       </header>

       <section class="hero">
            <div class="hero-content">
                <div id="title">
                    <h1>Emily R. Hickey</h1>
                    <h3>Front End Web Developer</h3>
                </div>
                <div id="image">
                    <img src="public/images/headshot.jpg" alt="Emily R. Hickey">
                </div> 
                
           </div>
       </section>

       <section id="about"> 
        <p>I’ve always enjoyed puzzles – really any kind that I could get my hands on. The meditative building as the pieces gradually
        fall into place, becoming absorbed in the challenge and details, and finally that moment of accomplishment when the whole
        picture comes into place. I tend to apply that thinking in other areas of life as well, strategizing as to how I can accomplish
        a task or series of tasks more efficiently, or quickly seeing the whole picture of situation before others can. As a web
        developer, I am able to apply these skills not only during development but also in learning and applying new technologies.</p>  
        <br>
        <p>If you have a project, I would love the opportunity to speak with you about the possibilities and find the perfect solution
        for your business. Please feel free to browse my portfolio and when you’re ready there is contact form below. Thank you for
        your consideration and I look forward to the opportunity of working with you!</p>
        <hr id="portfolio">
       </section>

    <h2 >Portfolio</h2>

       <section class="grid" >
           
           <div class="item purple">
               <img src="public/images/clouds.jpg" alt="Project 1">
               <i class="fas fa-folder-open fa-3x"></i>
           </div>
           <div class="item blue">
               <img src="public/images/clouds.jpg" alt="Project 2">
               <i class="fas fa-folder-open fa-3x"></i>
           </div>
           <div class="item green">
               <img src="public/images/clouds.jpg" alt="Project 3">
               <i class="fas fa-folder-open fa-3x"></i>
           </div>
       </section>

       <section class="contact" id="contact-me">
        <h1><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
        Contact Me
        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h1>
        {{msg}}
        <form method="POST" action="send">
          <div class="input-container"> 
            <input type="text" name="name" placeholder="Name">
          </div>
          <div class="input-container">
            <input type="text" name="company" placeholder="Company">
          </div>
          <div class="input-container">
            <input type="email" name="email" placeholder = "Email">
          </div>
          <div class="input-container">
            <input type="text" name="phone" placeholder="Phone Number">
          </div>
          <div class="input-container">
            <textarea name="message" rows="5" cols="100" placeholder="Message"></textarea>
          </div>
          <div id="submit">
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>

    
       
       
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script type="text/javascript" src="public/app.js"></script>
        <script type="text/javascript" src="public/scroll.js"></script>
    </body>
</html>